* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sourse Sans Pro', monospace;
}

button,
input {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(138, 58, 58);
}

li {
  list-style-type: none;
}

.app {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}
