.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
}

.label:nth-child(4) {
  margin-bottom: 50px;
}

.label input {
  padding: 2px 8px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 2px solid rgba(209, 81, 81, 0.425);
}

.label input:focus {
  border-bottom: 2px solid rgb(206, 87, 87);
}



.form button {
  width: 40%;
  border: 1px solid rgba(209, 81, 81, 0.425);
  border-radius: 5px;
  font-size: 24px;
  line-height: 30px;
  transition: 450ms;
  padding: 5px;

}

.form button:hover {
  background-color: rgba(209, 81, 81, 0.425);
}
